@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style.css */

@import "swiper/css";
@import "swiper/css/navigation";
/* @import "swiper/css/pagination"; */
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";
@import "swiper/css/effect-creative";

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
.c-pointer {
  cursor: pointer;
}
li.monthdate.current_date {
  background: rgb(2, 84, 139);
  color: rgb(255, 255, 255) !important;
}
.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: 0.8s 1s ease;
  z-index: 666;
}
.loader-wrapper .loder-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background: #111;
  z-index: 89;
}
.meanmenu-reveal {
  text-align: center;
  text-indent: 0px !important;
  font-size: 18px !important;
}
.landing_header nav.consen_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Mobile Menu */
a.meanmenu-reveal {
  display: none;
}
.mean-container .mean-bar {
  background: #ff3b00;
  float: left;
  min-height: 60px;
  padding: 4px 0 0;
  position: relative;
  width: 100%;
  z-index: 999;
}
.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 18px;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  float: right;
}
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  height: 3px;
  margin-top: 3px;
}
.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: #0c1923;
}
.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
.mean-container .mean-nav ul li {
  background: #f8f8f8;
  float: left;
  position: relative;
  width: 100%;
  border-top: 1px solid #ddd;
}
.mean-container .mean-nav ul li a {
  background: #f8f8f8;
  color: #232323;
  display: block;
  float: left;
  font-size: 14px;
  margin: 0;
  padding: 1em 5%;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  width: 90%;
}
.mobile-menu-area {
  background: #262626;
}
.mean-container .mean-nav ul li li a {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  color: #232323;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.75;
  padding: 1em 10%;
  text-shadow: none !important;
  text-transform: capitalize;
  visibility: visible;
  width: 80%;
}
.mean-container .mean-nav ul li.mean-last a {
  border-bottom: 0;
  margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover {
  background: #f8f8f8 none repeat scroll 0 0;
}
.mean-container .mean-nav ul li a.mean-expand {
  height: 15px;
  margin-top: 1px;
  padding: 12px !important;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  border: 0 !important;
  background: #f8f8f8;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: #f8f8f8;
}
.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}
.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
.mean-container .mean-bar,
.mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mean-remove {
  display: none !important;
}
.mean-container .mean-bar::after {
  color: #ffffff;
  content: "MENU";
  font-size: 21px;
  left: 5%;
  position: absolute;
  top: 12px;
}

/* -------------------------------
39. Mobile menu
----------------------------------*/
.mean-container .mean-bar::after {
  display: none;
}
.mean-container .mean-nav ul li a:hover {
  border-radius: 0;
}
.mean-container a.meanmenu-reveal span {
  background: #fff;
}
.mobile-menu-area {
  background: #fff none repeat scroll 0 0;
}
.mean-container .mean-nav ul li a.mean-expand {
  background: none;
  top: -4px;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: none;
}
.mean-container .mean-nav ul li {
  background: #444;
}
.mean-container a.meanmenu-reveal {
  color: #fff;
}
.meanmenu-reveal.meanclose:hover {
  color: #fff !important;
}
.mean-container a.meanmenu-reveal:hover span {
  background: #fff;
}
.mean-container .mean-bar::before {
  color: #fff;
  content: "Prime Logic Solutions";
  font-size: 28px;
  font-weight: 600;
  left: 10px;
  position: absolute;
  top: 18px;
}
/* Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background-color: "#fff";
  padding: "20px";
  border-radius: "8px";
  box-shadow: "0 4px 6px rgba(0, 0, 0, 0.1)";
  text-align: "center";
  width: "300px";
}
@media screen and (min-width: 640px) {
  .calendly-inline-widget {
    width: 640px !important;
  }
}

/* Industry Detail */
.cs_service_details {
  -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
  padding: 40px;
  border-radius: 20px;
}
@media (max-width: 1400px) {
  .cs_service_details {
    padding: 30px;
  }
}
@media (max-width: 575px) {
  .cs_service_details {
    padding: 30px 20px;
  }
}

.cs_service_details img {
  margin-bottom: 30px;
}
.cs_service_details > h3 {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 40px;
}
.cs_service_details .row img {
  border-radius: 15px;
}
.cs_service_details .cs_accordians.cs_style_1 .cs_accordian {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
.cs_service_details .cs_accordians.cs_style_1 .cs_accordian:not(:last-child) {
  margin-bottom: 20px;
}

.cs_map {
  height: 600px;
}
@media (max-width: 991px) {
  .cs_map {
    height: 450px;
  }
}
.cs_map iframe {
  height: 100%;
  width: 100%;
  border: none;
}

@media (max-width: 991px) {
  .cs_reverse_col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.cs_service_card.cs_style_1 {
  position: relative;
}
.cs_service_card.cs_style_1:hover .cs_service_card_icon {
  background-color: var(--accent);
}
.cs_service_card.cs_style_1:hover .cs_service_card_icon img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.cs_service_card.cs_style_1:hover .cs_service_card_bg {
  color: var(--accent);
}
.cs_service_card.cs_style_1:hover .cs_service_card_number {
  -webkit-text-stroke: 1px #fff;
}
.cs_service_card.cs_style_1 .cs_service_card_bg {
  position: absolute;
  top: -40px;
  width: 486px;
  left: 50%;
  margin-left: 6px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: var(--border);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1400px) {
  .cs_service_card.cs_style_1 .cs_service_card_bg {
    width: 456px;
  }
}
@media (max-width: 1199px) {
  .cs_service_card.cs_style_1 .cs_service_card_bg {
    width: 380px;
    top: -81px;
    margin-left: 0;
  }
}
.cs_service_card.cs_style_1 .cs_service_card_in {
  position: relative;
  z-index: 2;
  height: 384px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1400px) {
  .cs_service_card.cs_style_1 .cs_service_card_in {
    height: 374px;
  }
}
@media (max-width: 1199px) {
  .cs_service_card.cs_style_1 .cs_service_card_in {
    height: 335px;
  }
}
.cs_service_card.cs_style_1 .cs_service_card_icon {
  height: 80px;
  width: 80px;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 1199px) {
  .cs_service_card.cs_style_1 .cs_service_card_icon {
    height: 70px;
    width: 70px;
    padding: 15px;
    bottom: 0;
  }
}
.cs_service_card.cs_style_1 .cs_service_card_icon img {
  -webkit-transition: inherit;
  transition: inherit;
}
.cs_service_card.cs_style_1 .cs_service_card_number {
  color: transparent;
  -webkit-text-stroke: 1px var(--body-color);
  height: 90px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 1199px) {
  .cs_service_card.cs_style_1 .cs_service_card_number {
    height: 70px;
  }
}

.cs_service_card.cs_style_2 {
  height: 228px;
  position: relative;
  max-width: 282px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 10px;
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .cs_service_card.cs_style_2 {
    height: 208px;
  }
}
@media (max-width: 767px) {
  .cs_service_card.cs_style_2 {
    height: 208px;
  }
}
.cs_service_card.cs_style_2 .cs_service_card_in {
  position: relative;
  z-index: 1;
}
.cs_service_card.cs_style_2 .cs_service_card_bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .cs_service_card.cs_style_2 .cs_service_card_bg svg {
    width: 257px;
    height: 208px;
  }
}
@media (max-width: 767px) {
  .cs_service_card.cs_style_2 .cs_service_card_bg svg {
    width: 257px;
    height: 208px;
  }
}
.cs_service_card.cs_style_2 .cs_service_card_shape_1 {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.16;
}
.cs_service_card.cs_style_2 .cs_service_card_shape_2 {
  position: absolute;
  bottom: 30px;
  left: 0;
  opacity: 0.16;
}
.cs_service_card.cs_style_2 img {
  display: inline-block;
}
.cs_service_card.cs_style_2 .cs_service_card_icon img,
.cs_service_card.cs_style_2 .cs_service_card_title,
.cs_service_card.cs_style_2 .cs_service_card_bg svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cs_service_card.cs_style_2 .cs_service_card_icon img {
  height: 60px;
}

.cs_service_card_2_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 991px) {
  .cs_service_card_2_details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.cs_service_card_2_details .cs_service_card_2_details_thumb {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.cs_service_card_2_details .cs_service_card_2_details_left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 52px 100px 60px 60px;
}
@media (max-width: 1400px) {
  .cs_service_card_2_details .cs_service_card_2_details_left {
    padding: 30px 50px 35px 30px;
  }
}
@media (max-width: 1199px) {
  .cs_service_card_2_details .cs_service_card_2_details_left br {
    display: none;
  }
}
@media (max-width: 991px) {
  .cs_service_card_2_details .cs_service_card_2_details_left {
    padding: 30px 20px;
  }
}

.slick-slide .cs_slide_item_sm {
  cursor: pointer;
}

.slick-current .cs_service_card.cs_style_2 .cs_service_card_icon img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.slick-current .cs_service_card.cs_style_2 .cs_service_card_title {
  color: #fff;
}
.slick-current .cs_service_card.cs_style_2 .cs_service_card_bg svg path:first-child {
  fill: var(--heading-color);
}
.slick-current .cs_service_card.cs_style_2 .cs_service_card_bg svg path:last-child {
  fill: var(--accent);
}
.slick-current .cs_service_card.cs_style_2 .cs_service_card_shape_1,
.slick-current .cs_service_card.cs_style_2 .cs_service_card_shape_2 {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  opacity: 0.24;
}
.react-tabs__tab--selected {
  @apply !bg-primary !text-white;
}
.font-default {
  font-family: inherit;
}
.menu {
  display: block;
  z-index: 999999;
}
.menu li {
  display: inline-block;
  position: relative;
}
.menu li.dropdown:hover > .submenu {
  display: block;
}
.menu li a {
  display: block;
  padding: 12px 8px;
}
/* .menu li.dropdown > a::after {
  content: "\e259";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  margin-left: 8px;
  font-size: 10px;
}
.menu li a::before {
  content: "\e179";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  margin-right: 8px;
} */
/* .menu li a:hover {
  background: grey;
} */

.menu .submenu {
  display: none;
}
.submenu {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  list-style-type: none;
  display: block;
  width: 200px;
  z-index: 9;
}
.submenu li {
  display: block;
}
.submenu li a {
  display: block;
  padding: 8px 6px;
  margin-bottom: 1px;
}
.menu .submenu > li.dropdown:hover > .submenu {
  display: block;
}

.menu .submenu .submenu {
  position: absolute;
  left: 200px;
  top: 0px;
}

/* .submenu li.dropdown > a:after {
  content: "\e258";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  margin-left: 8px;
  font-size: 10px;
} */

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out;
}

.animate-slide-out {
  animation: slide-out 0.5s ease-in;
}
